#include "PasswordDialogRes.h"
#include "../../GuiCommon.rc"

#ifdef UNDER_CE
#define xc 140
#else
#define xc 200
#endif
#define yc 88

IDD_PASSWORD  DIALOG  0, 0, xs, ys  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "Enter password"
BEGIN
  LTEXT    "&Enter password:", IDT_PASSWORD_ENTER, m, m, xc, 8
  EDITTEXT  IDE_PASSWORD_PASSWORD, m, 20, xc, 14, ES_PASSWORD | ES_AUTOHSCROLL
  PUSHBUTTON "Saved passwords...", IDB_PASSWORD_LIST, m, 44, 92, 14
  PUSHBUTTON "New password...", IDB_PASSWORD_NEW, 108, 44, 92, 14
  CONTROL  "&Show password", IDX_PASSWORD_SHOW, MY_CHECKBOX, m, 64, 82, 10
  OK_CANCEL
END

IDD_PASSWORD_EDIT  DIALOG  0, 0, 240, 92  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "New password"
BEGIN
  LTEXT    "Name:", IDT_PASSWORD_NAME, 10, 14, 42, 8
  EDITTEXT  IDE_PASSWORD_NAME, 56, 12, 174, 14, ES_AUTOHSCROLL
  LTEXT    "Password:", IDT_PASSWORD_VALUE, 10, 38, 42, 8
  EDITTEXT  IDE_PASSWORD_VALUE, 56, 36, 174, 14, ES_PASSWORD | ES_AUTOHSCROLL
  DEFPUSHBUTTON "OK", IDOK, 124, 66, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, 180, 66, 50, 14
END

IDD_PASSWORD_MASTER  DIALOG  0, 0, 220, 62  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "Master password"
BEGIN
  LTEXT    "Master password:", IDT_PASSWORD_MASTER, 8, 10, 90, 8
  EDITTEXT  IDE_PASSWORD_MASTER, 8, 22, 204, 14, ES_PASSWORD | ES_AUTOHSCROLL
  DEFPUSHBUTTON "OK", IDOK, 62, 42, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, 118, 42, 50, 14
END

IDD_PASSWORD_LIST  DIALOG  0, 0, 360, 240  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "Saved passwords"
BEGIN
  CONTROL  "", IDL_PASSWORD_LIST, "SysListView32",
           LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_TABSTOP | WS_BORDER,
           8, 8, 344, 188
  LTEXT    "Click a name or password to fill it in; double-click to edit; click Delete to remove.",
           IDT_PASSWORD_LIST_HINT, 8, 202, 344, 10
  DEFPUSHBUTTON "Close", IDB_PASSWORD_LIST_CLOSE, 302, 218, 50, 14
END
